<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p>Eager to get invoved in the latest food revolution?</p>
    <form method="post" action="#">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="fa-home">
        Ceres Technology<br />
        Oxford Foundry<br />
        Oxford,<br />
		OX1 2EW, UK
      </li>
      <li class="fa-envelope"><a href="#">ceres@tx8.uk</a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Ceres Technology. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
